<section id="blog" class="content-section">
            <div class="section-heading">
                <h1>Анонсы <em>Туров</em></h1>
            </div>

            <!-- Таблица анонcов -->
            <div class="section-content">
                <div class="tab-content">
                    <div class="wrapper">

                        <!-- Анонсы -->

                        {% for anon in anons %}

                        <section id="first-tab-group" class="tabgroup">
                            <div id="tab1">
                                <ul>
                                    <li>
                                        <div class="item">
                                            <img src={{ anon.photo_main.url }} alt="">
                                            <div class="text-content">
                                                <h4>{{ anon.title }}</h4>
                                                <span>{{ anon.date }}</span>
                                                <p>{{ anon.description }}</p>

                                                <div class="accent-button button">
                                                    <a href="#contact">Описание</a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </section>

                        {% endfor %}

                        <!-- Конец Анонсов -->

                    </div>
                </div>
            </div>
        </section>