<div id="main-nav" class="collapse navbar-collapse">
            <nav>
                <ul class="nav navbar-nav">
                    <li><a href="#top">Домашняя страница</a></li>
                    <li><a href="#featured">Интерестные места</a></li>
                    <li><a href="#projects">Фотогалерея</a></li>
                    <li><a href="#video">Видео</a></li>
                    <li><a href="#blog">Анонсы туров</a></li>
                    <li><a href="#contact">Свяжитесь с нами</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <div class="sidebar-navigation hidde-sm hidden-xs">
        <div class="logo">
            <a href="#">Esfire <em>Tours</em></a>
        </div>
        <nav>
            <ul>
                <li>
                    <a href="#top">
                        <span class="rect"></span>
                        <span class="circle"></span> Домашняя страница
                    </a>
                </li>
                <li>
                    <a href="#featured">
                        <span class="rect"></span>
                        <span class="circle"></span> Интерестные места
                    </a>
                </li>
                <li>
                    <a href="#projects">
                        <span class="rect"></span>
                        <span class="circle"></span> Фотогалерея
                    </a>
                </li>
                <li>
                    <a href="#video">
                        <span class="rect"></span>
                        <span class="circle"></span> Видео
                    </a>
                </li>
                <li>
                    <a href="#blog">
                        <span class="rect"></span>
                        <span class="circle"></span> Анонсы туров
                    </a>
                </li>
                <li>
                    <a href="#contact">
                        <span class="rect"></span>
                        <span class="circle"></span> Свяжитесь с нами
                    </a>
                </li>
            </ul>
        </nav>
        <ul class="social-icons">
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
        </ul>
    </div>

    <div class="slider">
        <div class="Modern-Slider content-section" id="top">
            <!-- Item -->
            <div class="item item-1">
                <div class="img-fill">
                    <div class="image"></div>
                    <div class="info">
                        <div>
                            <h1>Beautiful <br>Greece</h1>
                            <p>We love travelling and our travel experts are promising to make you feel the same way as you will explore the magic of Greece and it’s hidden treasures.
                                <br> Please tell this in your friends.</p>
                            <div class="white-button button">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- // Item -->
            <!-- Item -->
            <div class="item item-2">
                <div class="img-fill">
                    <div class="image"></div>
                    <div class="info">
                        <div>
                            <h1>Beautiful <br>Greece</h1>
                            <p>We love travelling and our travel experts are promising to make you feel the same way as you will explore the magic of Greece and it’s hidden treasures.</p>

                            <div class="white-button button">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- // Item -->
            <!-- Item -->
            <div class="item item-3">
                <div class="img-fill">
                    <div class="image"></div>
                    <div class="info">
                        <div>
                            <h1>Beautiful <br>Greece</h1>
                            <p>We love travelling and our travel experts are promising to make you feel the same way as you will explore the magic of Greece and it’s hidden treasures.</p>

                            <div class="white-button button">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- // Item -->
        </div>
    </div>