<section id="video" class="content-section">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-heading">
                        <h1>Презентация <em>Греции</em></h1>
                        <p>Praesent pellentesque efficitur magna, sed pellentesque neque malesuada vitae.</p>
                    </div>
                    <div class="text-content">
                        <p>In eget ipsum sed lorem vehicula luctus. Curabitur non dolor rhoncus, hendrerit justo sit amet, vestibulum turpis. Pellentesque id auctor tellus, vel ultricies augue. Duis condimentum aliquet blandit. Fusce rhoncus et eros ut pharetra. Phasellus convallis ultricies ligula ac gravida.</p>
                    </div>
                    <div class="accent-button button">
                        <a href="#blog">Continue Reading</a>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="box-video">
                        <div class="bg-video" style="background-image: url(https://unsplash.imgix.net/photo-1425036458755-dc303a604201?fit=crop&fm=jpg&q=75&w=1000);">
                            <div class="bt-play">Play</div>
                        </div>
                        <div class="video-container">
                            <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/L6IlTk6tJL4?start=200" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </section>