{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>ET Greece</title>

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">

    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/fontAwesome.css' %}">
    <link rel="stylesheet" href="{% static 'css/light-box.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl-carousel.css' %}">
    <link rel="stylesheet" href="{% static 'css/templatemo-style.css' %}">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">

    <script src="{% static 'js/vendor/modernizr-2.8.3-respond-1.4.2.min.js' %}"></script>
</head>

<body>

    <header class="nav-down responsive-nav hidden-lg hidden-md">
        <button type="button" id="nav-toggle" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>

    <!--/.navbar-header-->
    {% include 'include/navbar.html' %}

    <!-- Интерестные места -->
    {% include 'include/places.html' %}

    <!-- Фотогалерея -->
    {% include 'include/gallery.html' %}

    <!-- Видео -->
    {% include 'include/video.html' %}

    <!-- Анонсы Туров -->
    {% include 'include/anon_list.html' %}

    <!-- Контактная Информация -->
    {% include 'include/contact.html' %}

    <!-- FOOTER -->
    {% include 'include/footer.html' %}

</body>
</html>