{% load static %} {% block content %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>ET Greece</title>

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">

    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/fontAwesome.css' %}">
    <link rel="stylesheet" href="{% static 'css/light-box.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl-carousel.css' %}">
    <link rel="stylesheet" href="{% static 'css/templatemo-style.css' %}">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">

    <script src="{% static 'js/vendor/modernizr-2.8.3-respond-1.4.2.min.js' %}"></script>
</head>

<body>

    <header class="nav-down responsive-nav hidden-lg hidden-md">
        <button type="button" id="nav-toggle" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>

        <!--/.navbar-header-->

        <div id="main-nav" class="collapse navbar-collapse">
            <nav>
                <ul class="nav navbar-nav">
                    <li><a href="#top">Домашняя страница</a></li>
                    <li><a href="#top">Интерестные места</a></li>
                    <li><a href="#top">Фотогалерея</a></li>
                    <li><a href="#top">Видео</a></li>
                    <li><a href="#blog">Анонсы туров</a></li>
                    <li><a href="#contact">Свяжитесь с нами</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <div class="sidebar-navigation hidde-sm hidden-xs">
        <div class="logo">
            <a href="#">Esfire <em>Tours</em></a>
        </div>
        <nav>
            <ul>
                <li>
                    <a href="#top">
                        <span class="rect"></span>
                        <span class="circle"></span> Домашняя страница
                    </a>
                </li>
                <li>
                    <a href="#featured">
                        <span class="rect"></span>
                        <span class="circle"></span> Интерестные места
                    </a>
                </li>
                <li>
                    <a href="#projects">
                        <span class="rect"></span>
                        <span class="circle"></span> Фотогалерея
                    </a>
                </li>
                <li>
                    <a href="#video">
                        <span class="rect"></span>
                        <span class="circle"></span> Видео
                    </a>
                </li>
                <li>
                    <a href="#blog">
                        <span class="rect"></span>
                        <span class="circle"></span> Анонсы туров
                    </a>
                </li>
                <li>
                    <a href="#contact">
                        <span class="rect"></span>
                        <span class="circle"></span> Свяжитесь с нами
                    </a>
                </li>
            </ul>
        </nav>
        <ul class="social-icons">
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
        </ul>
    </div>

    <div class="slider">
        <div class="Modern-Slider content-section" id="top">
            <!-- Item -->
            <div class="item item-1">
                <div class="img-fill">
                    <div class="image"></div>
                    <div class="info">
                        <div>
                            <h1>Beautiful <br>Greece</h1>
                            <p>We love travelling and our travel experts are promising to make you feel the same way as you will explore the magic of Greece and it’s hidden treasures.
                                <br> Please tell this in your friends.</p>
                            <div class="white-button button">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- // Item -->
            <!-- Item -->
            <div class="item item-2">
                <div class="img-fill">
                    <div class="image"></div>
                    <div class="info">
                        <div>
                            <h1>Beautiful <br>Greece</h1>
                            <p>We love travelling and our travel experts are promising to make you feel the same way as you will explore the magic of Greece and it’s hidden treasures.</p>

                            <div class="white-button button">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- // Item -->
            <!-- Item -->
            <div class="item item-3">
                <div class="img-fill">
                    <div class="image"></div>
                    <div class="info">
                        <div>
                            <h1>Beautiful <br>Greece</h1>
                            <p>We love travelling and our travel experts are promising to make you feel the same way as you will explore the magic of Greece and it’s hidden treasures.</p>

                            <div class="white-button button">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- // Item -->
        </div>
    </div>
    <div class="page-content">
        <section id="featured" class="content-section">
            <div class="section-heading">
                <h1>Интересные<br><em>Места</em></h1>
                <p>Praesent pellentesque efficitur magna,
                    <br>sed pellentesque neque malesuada vitae.</p>
            </div>

            <div class="section-content">
                <div class="owl-carousel owl-theme">
                    {% for plase in plases %}
                    <div class="item">
                        <div class="image">
                            <img src={% static 'img/featured_3.jpg' %} alt="">
                            <div class="featured-button button">
                                <a href="#projects">Continue Reading</a>
                            </div>
                        </div>
                        <div class="text-content">
                            <h4>{{plase.title}}</h4>
                            <span>{{ plase.post_title }}</span>
                            <p>{{ plase.description }}</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </section>

        <!-- Фотогалерея -->

        <section id="projects" class="content-section">
            <div class="section-heading">
                <h1>Фото - <br><em>Галерея</em></h1>
                <p>Praesent pellentesque efficitur magna,
                    <br>sed pellentesque neque malesuada vitae.</p>
            </div>
            <style class="cp-pen-styles">/* Code mostly copied from https://github.com/gpbl/isomorphic500/blob/master/src/style/ThumbnailCollection.scss */

html {
  font-size: 16px;
}

#gallery {
  max-width: 680px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.thumbnail-wrapper {
  background-color: #333;
  min-width: 12rem;
  min-height: 8rem;
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -ms-flex-preferred-size: 8rem;
      flex-basis: 8rem;
  margin-right: 2px;
  margin-bottom: 2px;
}

.thumbnail-wrapper:nth-child(5n) {
  -ms-flex-preferred-size: 14rem;
      flex-basis: 14rem;
}

.thumbnail-wrapper:nth-child(2n+1) {
  -ms-flex-preferred-size: 10rem;
      flex-basis: 10rem;
}

.thumbnail-wrapper:nth-child(7n+4) {
  -ms-flex-preferred-size: 20rem;
      flex-basis: 20rem;
  min-height: 12rem;
}

.thumbnail {
  width: 100%;
  height: 100%;
  position: absolute;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.thumbnail:hover {
  opacity: 0.9;
  -webkit-transition: .2s ease-in;
  transition: .2s ease-in;
}</style></head><body>
<div id="gallery"></div>
<script src='//production-assets.codepen.io/assets/common/stopExecutionOnTimeout-b2a7b3fe212eaa732349046d8416e00a9dec26eb7fd347590fbced3ab38af52e.js'></script>
<script >var images = [
  "https://i.imgur.com/KaPoFDj.jpg", "http://proof.nationalgeographic.com/files/2015/05/MM8190_12_09_30_10398-copy.jpg",
  "http://farm9.staticflickr.com//8868//18205140545_c48ca49018_h.jpg",
  "http://drscdn.500px.org/photo/111857581/m%3D2048/2ecfe0e70accd597de673b532e8a8666", "http://fc02.deviantart.net/fs70/f/2014/029/9/1/rophaien_by_tobiasrichter-d4tniwk.jpg",
  "https://i.imgur.com/CQg225T.jpg",
  "http://farm3.staticflickr.com//2946//15449458345_4457eacb17_b.jpg",
  "https://i.imgur.com/Y2802th.jpg",
  "https://i.imgur.com/KZsmUi2.jpg"
];

var gallery = document.getElementById("gallery");

for (var i = 0; i < images.length; i++) {if (window.CP.shouldStopExecution(1)){break;}
  var thumbnailWrapper = document.createElement("div");
  thumbnailWrapper.className = "thumbnail-wrapper";

  var thumbnail = document.createElement("a");
  thumbnail.className = "thumbnail";
  thumbnail.setAttribute('style', 'background-image:url(\"' + images[i] + '\");');
  thumbnail.setAttribute('href', images[i]);

  thumbnailWrapper.appendChild(thumbnail);
  gallery.appendChild(thumbnailWrapper);
}
window.CP.exitedLoop(1);


console.log(gallery)
//# sourceURL=pen.js
</script>
</body></html>

        </section>

        <!-- VIDEO -->

        <section id="video" class="content-section">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-heading">
                        <h1>Презентация <em>Греции</em></h1>
                        <p>Praesent pellentesque efficitur magna, sed pellentesque neque malesuada vitae.</p>
                    </div>
                    <div class="text-content">
                        <p>In eget ipsum sed lorem vehicula luctus. Curabitur non dolor rhoncus, hendrerit justo sit amet, vestibulum turpis. Pellentesque id auctor tellus, vel ultricies augue. Duis condimentum aliquet blandit. Fusce rhoncus et eros ut pharetra. Phasellus convallis ultricies ligula ac gravida.</p>
                    </div>
                    <div class="accent-button button">
                        <a href="#blog">Continue Reading</a>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="box-video">
                        <div class="bg-video" style="background-image: url(https://unsplash.imgix.net/photo-1425036458755-dc303a604201?fit=crop&fm=jpg&q=75&w=1000);">
                            <div class="bt-play">Play</div>
                        </div>
                        <div class="video-container">
                            <iframe width="100%" height="520" src="https://www.youtube.com/watch?v=L6IlTk6tJL4" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Анонсы Туров -->
        <section id="blog" class="content-section">
            <div class="section-heading">
                <h1>Анонсы<br><em>Туров</em></h1>
                <p>Curabitur hendrerit mauris mollis ipsum vulputate rutrum.
                    <br>Phasellus luctus odio eget dui imperdiet.</p>
            </div>

            <!-- Таблица анонcов -->
            <div class="section-content">
                <div class="tabs-content">
                    <div class="wrapper">
                        <ul class="tabs clearfix" data-tabgroup="first-tab-group">
                            <li><a href="#tab" class="active">Свежие туры</a></li>
                           <!--  <li><a href="#tab2">Горный курорт</a></li>
                            <li><a href="#tab3">Белый песок</a></li>
                            <li><a href="#tab4">Древняя греция</a></li> -->
                        </ul>
                        <!-- Анонсы -->

                        {% for anon in anons %}

                        <section id="first-tab-group" class="tabgroup">
                            <div id="tab1">
                                <ul>
                                    <li>
                                        <div class="item">
                                            <img src={% static 'img/featured_3.jpg' %} alt="">
                                            <div class="text-content">
                                                <h4>{{ anon.title }}</h4>
                                                <span>{{ anon.date_posted }}</span>
                                                <p>{{ anon.description }}</p>

                                                <div class="accent-button button">
                                                    <a href="#contact">Описание</a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </section>

                        {% endfor %}

                        <!-- Конец Анонсов -->

                    </div>
                </div>
            </div>
        </section>
        <!-- Карты -->

        <section id="contact" class="content-section">
            <div id="map">

                <!-- How to change your own map point
                           1. Go to Google Maps
                           2. Click on your location point
                           3. Click "Share" and choose "Embed map" tab
                           4. Copy only URL and paste it within the src="" field below
                    -->
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1197183.8373802372!2d-1.9415093691103689!3d6.781986417238027!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xfdb96f349e85efd%3A0xb8d1e0b88af1f0f5!2sKumasi+Central+Market!5e0!3m2!1sen!2sth!4v1532967884907" width="100%" height="400px" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>

            <div id="contact-content">
                <div class="section-heading">
                    <h1>Свяжитесь с<br><em>нами</em></h1>
                    <p>Curabitur hendrerit mauris mollis ipsum vulputate rutrum.
                        <br>Phasellus luctus odio eget dui imperdiet.</p>
                </div>

                <!-- Свяжитесь с нами -->

                <div class="section-content">
                    <form id="contact" action="#" method="post">
                        <div class="row">
                            <div class="col-md-4">
                                <fieldset>
                                    <input name="name" type="text" class="form-control" id="name" placeholder="Your name..." required="">
                                </fieldset>
                            </div>
                            <div class="col-md-4">
                                <fieldset>
                                    <input name="email" type="email" class="form-control" id="email" placeholder="Your email..." required="">
                                </fieldset>
                            </div>
                            <div class="col-md-4">
                                <fieldset>
                                    <input name="subject" type="text" class="form-control" id="subject" placeholder="Subject..." required="">
                                </fieldset>
                            </div>
                            <div class="col-md-12">
                                <fieldset>
                                    <textarea name="message" rows="6" class="form-control" id="message" placeholder="Your message..." required=""></textarea>
                                </fieldset>
                            </div>
                            <div class="col-md-12">
                                <fieldset>
                                    <button type="submit" id="form-submit" class="btn">Send Message Now</button>
                                </fieldset>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>

        <!-- FOOTER -->

        <section class="footer">
            <p>Copyright &copy; 2019 Company Name . Design: TemplateMo</p>
        </section>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script>
        window.jQuery || document.write('<script src={%js/vendor/jquery-1.11.2.min.js"><\/script>')
    </script>

    <script src={% static 'js/vendor/bootstrap.min.js' %}></script>

    <script src={% static 'js/plugins.js' %}></script>
    <script src={% static 'js/main.js' %}></script>

    <script>
        // Hide Header on on scroll down
        var didScroll;
        var lastScrollTop = 0;
        var delta = 5;
        var navbarHeight = $('header').outerHeight();

        $(window).scroll(function(event) {
            didScroll = true;
        });

        setInterval(function() {
            if (didScroll) {
                hasScrolled();
                didScroll = false;
            }
        }, 250);

        function hasScrolled() {
            var st = $(this).scrollTop();

            // Make sure they scroll more than delta
            if (Math.abs(lastScrollTop - st) <= delta)
                return;

            // If they scrolled down and are past the navbar, add class .nav-up.
            // This is necessary so you never see what is "behind" the navbar.
            if (st > lastScrollTop && st > navbarHeight) {
                // Scroll Down
                $('header').removeClass('nav-down').addClass('nav-up');
            } else {
                // Scroll Up
                if (st + $(window).height() < $(document).height()) {
                    $('header').removeClass('nav-up').addClass('nav-down');
                }
            }

            lastScrollTop = st;
        }
    </script>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" type="text/javascript"></script>

</body>

</html>
{% endblock content %}